<%- include('../../partials/header'); -%>

    <div class="container">
        <hr>
        <div class="card mt-5">
            <div class="card-header">
                <h2>Criação de Login</h2>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input type="email" name="email" placeholder="email@exemplo.com" class="form-control"><br>
                    <input type="password" name="password" class="form-control" placeholder="******"><br>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success btn-block">Logar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer'); -%>